name: Backend CI + Deploy to Render

on:
  push:
    branches: [main]
 
jobs:
   test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        uses: actions/setup-node@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        working-directory: backend
        run:
         pip install -r requirements.txt
         pip install --upgrade pip

      - name: Run checks
        working-directory: backend
        run: python -c "import main"

      - name: Run backend tests
        working-directory: backend
        run: |
          python -m pip install pytest httpx
          python -m pytest tests/
          
  #  deploy:
  #     needs: test
  #     runs-on: ubuntu-latest
  #     if: github.ref == 'refs/heads/main'
  #     steps:
  #       - name: Trigger Render Deploy 
  #         run: |
  #          curl -X POST -H "Accept: ${{ secrets.RENDER_DEPLOY_HOOK }}"